<!-- Start left navigation - profile shortcut -->
<div class="sidebar-content">
    <a href="#" class="close">&times;</a>
    <div class="media">
        <!--<a class="pull-left has-notif avatar" data-ng-href="page-profile">
            <img src="http://img.djavaui.com/?create=50x50,4888E1?f=ffffff" alt="admin">
            <i class="online"></i>
        </a>-->
        <div class="media-body">
            <h4 class="media-heading">Hello, <span>ATM Admin</span></h4>
            <small>Admin</small>
        </div>
    </div>
</div>
<!-- /.sidebar-content -->
<!--/ End left navigation -  profile shortcut -->
<!-- Start left navigation - menu -->
<ul data-collapse-menu class="sidebar-menu">
    <!-- Start navigation - dashboard -->
    <!--    <li class="active">
        <a ui-sref="dashboard.index" data-active-menu>
            <span class="icon"><i class="fa fa-home"></i></span>
            <span class="text">Dashboard</span>
            <span class="selected"></span>
        </a>
    </li>-->
    <!--/ End navigation - dashboard -->
    <!-- Start category apps -->
    <!-- <li class="sidebar-category">
        <span>Apps</span>
        <span class="pull-right"><i class="fa fa-globe"></i></span>
    </li> -->
    <li class="">
        <a ui-sref="home.index" data-active-menu>
            <span class="icon"><i class="fa fa-home"></i></span>
            <span class="text">Member home page</span>
            <span class="selected"></span>
        </a>
    </li>
    <li class="">
        <a ui-sref="auportfolio.index" data-active-menu>
            <span class="icon"><i class="fa fa-file-o"></i></span>
            <span class="text">AUPortfolio page</span>
            <span class="selected"></span>
        </a>
    </li>
    <li class="">
        <a ui-sref="nzportfolio.index" data-active-menu>
            <span class="icon"><i class="fa fa-file-o"></i></span>
            <span class="text">NZPortfolio page</span>
            <span class="selected"></span>
        </a>
    </li>
    <li class="">
        <a ui-sref="concentrated.index" data-active-menu>
            <span class="icon"><i class="fa fa-file-o"></i></span>
            <span class="text">Concentrated Portfolio page</span>
            <span class="selected"></span>
        </a>
    </li>
    <li class="">
        <a ui-sref="thematics.index" data-active-menu>
            <span class="icon"><i class="fa fa-file-o"></i></span>
            <span class="text">Portfolio Thematics</span>
            <span class="selected"></span>
        </a>
    </li>
    <li class="">
        <a ui-sref="stocks.index" data-active-menu>
            <span class="icon"><i class="fa fa-line-chart"></i></span>
            <span class="text">Stocks page</span>
            <span class="selected"></span>
        </a>
    </li>
    <li class="">
        <a ui-sref="notes.index" data-active-menu>
            <span class="icon"><i class="fa fa-sticky-note-o"></i></span>
            <span class="text">Notes</span>
            <span class="selected"></span>
        </a>
    </li>
    <li class="">
        <a ui-sref="reports.index" data-active-menu>
            <span class="icon"><i class="fa fa-file-pdf-o"></i></span>
            <span class="text">Reports</span>
            <span class="selected"></span>
        </a>
    </li>
    <!-- Start navigation - block -->
    <li class="submenu">
        <a href="javascript:void(0);">
            <span class="icon"><i class="fa fa-user"></i></span>
            <span class="text">Users</span>
            <span class="arrow"></span>
        </a>
        <ul>
            <li><a ui-sref="users.index" data-active-menu>All users</a></li>
            <!-- <li><a ui-sref="roles.index" data-active-menu>Roles</a></li>
            <li><a ui-sref="permissions.index" data-active-menu>Permissions</a></li> -->
        </ul>
    </li>
    <!--/ End navigation - block -->
    <!--/ End category apps -->
    <li>
        <div class="sidebar-footer hidden-xs hidden-sm hidden-md">
            <a data-logout class="pull-left" href="javascript:void(0);" data-toggle="tooltip" data-placement="top" data-title="Logout"><i class="fa fa-power-off"></i></a>
        </div>
    </li>
</ul>
<!-- /.sidebar-menu -->
<!--/ End left navigation - menu -->
<!-- Start left navigation - footer -->
<!-- /.sidebar-footer -->
<!--/ End left navigation - footer -->
