<div class="row">
    <div class="col-md-12">
        <h4>Recent Users</h4>
        <!-- Start sample table -->
        <div class="table-responsive rounded mb-20">
            <table class="table table-striped table-theme">
                <thead>
                    <tr>
                        <th class="text-center border-right">No.</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Mobile phone</th>
                    </tr>
                </thead>
                <tbody>
                    <tr data-ng-repeat="user in vm.data">
                        <td class="text-center border-right">{{user.id}}</td>
                        <td>
                            <img src="http://img.djavaui.com/?create=50x50,4888E1?f=ffffff" class="img-circle img-bordered-theme" alt="{{user.name}}">
                            <span>{{user.firstName}} {{user.lastName}}</span>
                        </td>
                        <td>{{user.email}}</td>
                        <td>{{user.dayTimePhone}}</td>
                        <td class="text-center">{{user.status}}</td>
                        <td class="text-center">{{user.mobilePhone}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th class="text-center border-right">No.</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Mobile phone</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.table-responsive -->
        <!--/ End sample table -->
    </div>
</div>
</div>
<!-- /.row -->
