<form name="Form">
    <fieldset>
        <legend>Upload chart data file (CSV) for AU Portfolio</legend>
        <hr />
        <input type="file" ngf-select ng-model="File" name="file" accept=".csv" ngf-max-size="2MB" required>
        <i ng-show="Form.file.$error.required">*required</i>
        <br>
        <i ng-show="Form.file.$error.maxSize">File too large
          {{File.size / 1000000|number:1}}MB: max 2M</i>
        <img ng-show="Form.file.$valid" ngf-thumbnail="File" class="thumb">
        <button ng-click="File = null" ng-show="File">Remove</button>
        <br>
        <button ng-disabled="!Form.$valid" ng-click="vm.uploadFile(File)">Submit</button>
        <span class="progress" ng-show="File.progress >= 0">
                    <div style="width:{{File.progress}}%" ng-bind="File.progress + '%'">
                    <div>
                </span>
        <span ng-show="File.result">Upload Successful</span>
        <span class="err" ng-show="errorMsg">{{vm.errorMsg}}</span>
    </fieldset>
    <br>
</form>
