<h4>AU Industry Weightings <button type="button" class="btn btn-primary" ng-click="vm.getTable('auThematicExposure', 'Concentrated', 3)"> load(update) data</button></h4>
<form editable-form name="auThematicExposure" onaftersave="vm.saveTable('auThematicExposure
', 'Concentrated')" oncancel="vm.cancel()">
    <!-- table -->
    <table class="table table-bordered table-hover table-condensed">
        <tr style="font-weight: bold">
            <td style="width:40%"> </td>
            <td style="width:30%">Fund</td>
            <td style="width:30%">Index</td>
            <td style="width:30%"><span ng-show="auThematicExposure.$visible">Action</span></td>
        </tr>
        <tr ng-repeat="(index, item) in vm.tableData  track by $index">
            <td>
                <span editable-text="item[0]" e-form="auThematicExposure">{{ item[0] || 'empty' }}</span>
            </td>
            <td>
                <span editable-text="item[1]" e-form="auThematicExposure">{{ item[1] || 'empty' }}</span>
            </td>
            <td>
                <span editable-text="item[2]" e-form="auThematicExposure">{{ item[2] || 'empty' }}</span>
            </td>
            <td>
                <button type="button" ng-show="auThematicExposure.$visible"
                ng-click="vm.deleteItem(item, index)" class="btn btn-danger pull-right">Del</button>
            </td>
        </tr>
    </table>
    <!-- buttons -->
    <div class="btn-edit">
        <button type="button" ng-disabled="!vm.tableData" class="btn btn-primary" ng-show="!auThematicExposure.$visible" ng-click="auThematicExposure.$show()">
            edit
        </button>
    </div>
    <div class="btn-form clearfix" ng-show="auThematicExposure.$visible">
        <button type="button" ng-disabled="auThematicExposure.$waiting" ng-click="vm.addItem(3)" class="btn btn-primary pull-right">add row</button>
        <button type="submit" ng-disabled="auThematicExposure.$waiting" class="btn btn-success">save</button>
        <button type="button" ng-disabled="auThematicExposure.$waiting" ng-click="auThematicExposure.$cancel()" class="btn btn-default">cancel</button>
    </div>
</form>
