<h4>Last right table <button type="button" class="btn btn-primary" ng-click="vm.getTable('lastRight', 'NZPortfolio', 2)"> load(update) data</button></h4>
<form editable-form name="lastRight" onaftersave="vm.saveTable('lastRight', 'NZPortfolio')" oncancel="vm.cancel()">
    <!-- table -->
    <table class="table table-bordered table-hover table-condensed">
        <tr style="font-weight: bold">
            <td style="width:40%"> </td>
            <td style="width:30%"> </td>
            <td style="width:30%"><span ng-show="lastRight.$visible">Action</span></td>
        </tr>
        <tr ng-repeat="(index, item) in vm.tableData  track by $index">
            <td>
                <span editable-text="item[0]" e-form="lastRight">{{ item[0] || 'empty' }}</span>
            </td>
            <td>
                <span editable-text="item[1]" e-form="lastRight">{{ item[1] || 'empty' }}</span>
            </td>
            <td>
                <button type="button" ng-show="lastRight.$visible" ng-click="vm.deleteItem(item, index)" class="btn btn-danger pull-right">Del</button>
            </td>
        </tr>
    </table>
    <!-- buttons -->
    <div class="btn-edit">
        <button type="button" ng-disabled="!vm.tableData" class="btn btn-primary" ng-show="!lastRight.$visible" ng-click="lastRight.$show()">
            edit
        </button>
    </div>
    <div class="btn-form clearfix" ng-show="lastRight.$visible">
        <button type="button" ng-disabled="lastRight.$waiting" ng-click="vm.addItem(2)" class="btn btn-primary pull-right">add row</button>
        <button type="submit" ng-disabled="lastRight.$waiting" class="btn btn-success">save</button>
        <button type="button" ng-disabled="lastRight.$waiting" ng-click="lastRight.$cancel()" class="btn btn-default">cancel</button>
    </div>
</form>
