<h4>ATM New Zealand Portfolio Prerformance table <button type="button" class="btn btn-primary" ng-click="vm.getTable('newZelandPortfolioPerfomance', 'NZPortfolio', 4)"> load(update) data</button></h4>
<form editable-form name="newZelandPortfolioPerfomance" onaftersave="vm.saveTable('newZelandPortfolioPerformance', 'NZPortfolio')" oncancel="vm.cancel()">
    <!-- table -->
    <table class="table table-bordered table-hover table-condensed">
        <tr style="font-weight: bold">
            <td style="width:20%">Prerformance</td>
            <td style="width:20%">KTE NZ Portfolio</td>
            <td style="width:20%">Banchmark NZX50</td>
            <td style="width:20%">Relative Performance</td>
            <td style="width:10%"><span ng-show="newZelandPortfolioPerfomance.$visible">Action</span></td>
        </tr>
        <tr ng-repeat="(index, item) in vm.tableData  track by $index">
            <td>
                <span editable-text="item[0]" e-form="newZelandPortfolioPerfomance">{{ item[0] || 'empty' }}</span>
            </td>
            <td>
                <span editable-text="item[1]" e-form="newZelandPortfolioPerfomance">{{ item[1] || 'empty' }}</span>
            </td>
            <td>
                <span editable-text="item[2]" e-form="newZelandPortfolioPerfomance">{{ item[2] || 'empty' }}</span>
            </td>
            <td>
                <span editable-text="item[3]" e-form="newZelandPortfolioPerfomance">{{ item[3] || 'empty' }}</span>
            </td>
            <td>
                <button type="button" ng-show="newZelandPortfolioPerfomance.$visible" ng-click="vm.deleteItem(item, index)" class="btn btn-danger pull-right">Del</button>
            </td>
        </tr>
    </table>
    <!-- buttons -->
    <div class="btn-edit">
        <button type="button" ng-disabled="!vm.tableData" class="btn btn-primary" ng-show="!newZelandPortfolioPerfomance.$visible" ng-click="newZelandPortfolioPerfomance.$show()">
            edit
        </button>
    </div>
    <div class="btn-form clearfix" ng-show="newZelandPortfolioPerfomance.$visible">
        <button type="button" ng-disabled="newZelandPortfolioPerfomance.$waiting" ng-click="vm.addItem(4)" class="btn btn-primary pull-right">add row</button>
        <button type="submit" ng-disabled="newZelandPortfolioPerfomance.$waiting" class="btn btn-success">save</button>
        <button type="button" ng-disabled="newZelandPortfolioPerfomance.$waiting" ng-click="newZelandPortfolioPerfomance.$cancel()" class="btn btn-default">cancel</button>
    </div>
</form>
