<div ng-init="vm.disableButton = false">
    <h4 ng-show="vm.documents.lenght()">Already existing files</h4>
    <ul class="admin-stock clearfix">
        <li ng-repeat="(index, doc) in vm.documents track by $index">
            <span class="pull-left">{{doc.name}} ( {{doc.path.split("/").pop()}} )</span>
            <span ng-click="vm.del(doc.id)" class="btn btn-danger btn-xs pull-right"><i class="fa fa-times"></i></span>
        </li>
    </ul>
    <hr/>
    <h4>Upload pdf files for stock</h4>
    <input type="text" class="form-control" name="description" ng-model="vm.description" placeholder="stock file description" ng-required />
    <input type="text" class="form-control" name="author" ng-model="vm.author" placeholder="author" ng-required />
    <br/>
    <button ngf-select="vm.uploadFiles($files, $invalidFiles)" multiple accept=".pdf" ngf-max-height="1000" ngf-max-size="2MB" ng-disabled="!vm.description || !vm.author">
        Select Files</button>
    <br>
    <br> Files:
    <ul class="admin-stock-load-files clearfix">
        <li ng-repeat="f in vm.files" style="font:smaller">{{f.name}} {{f.$errorParam}}
            <span class="progress" ng-show="f.progress >= 0">
        <div style="width:{{f.progress}}%"
            ng-bind="f.progress + '%'"></div>
      </span>
        </li>
        <li ng-repeat="f in vm.errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
        </li>
    </ul>
    {{vm.errorMsg}}
</div>
