<div class="widget">
    <div class="title">
        <h4>{{vm.title}}</h4>
    </div>
    <form form-for="vm.formData" validation-rules="vm.validationRules.rules" submit-with="vm.submit(data)" validation-failed="vm.validationFailed()" submit-error="vm.submitFailed(error)">
        <text-field attribute="code" label="Code" autofocus placeholder="Code"></text-field>
        <radio-field attribute="region" options="vm.regions"></radio-field>
        <text-field attribute="name" label="Name" placeholder="Name"></text-field>
        <text-field attribute="recommendation" label="Recommendation" placeholder="Recommendation"></text-field>
        <text-field attribute="returnSince" label="Return Since" placeholder="Return Since"></text-field>
        <text-field attribute="sharePrice" label="Share Price" placeholder="Share Price"></text-field>
        <text-field attribute="price" label="Price" placeholder="Price"></text-field>
        <text-field attribute="dividend" label="dividend" placeholder="dividend"></text-field>
        <text-field attribute="lastYearReturn" label="Last Year Return" placeholder="Last Year Return"></text-field>
        <text-field attribute="marketCap" label="Market Cap" placeholder="Market Cap"></text-field>
        <hr/>
        <submit-button button-class="btn btn-success pull-right" label="Save"></submit-button>
    </form>
</div>
