<div class="row">
    <div class="col-md-12">
        <!-- Start datatable using ajax -->
        <div class="panel rounded shadow">
            <div class="panel-heading">
                <div class="pull-left">
                    <h3 class="panel-title">{{vm.title}}<span class="label label-danger"></span></h3>
                </div>
                <div class="pull-right">
                    <button data-tooltip class="btn btn-sm" ng-click="vm.getAll()" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Refresh"><i class="fa fa-refresh"></i></button>
                    <button data-tooltip data-collapse-panel class="btn btn-sm" data-action="collapse" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Collapse"><i class="fa fa-angle-up"></i></button>
                    <button data-tooltip data-remove-panel class="btn btn-sm" data-action="remove" data-container="body" data-toggle="tooltip" data-placement="top" data-title="Remove"><i class="fa fa-times"></i></button>
                </div>
                <div class="pull-right"><a ui-sref="users.create" class="btn btn-primary" title="Create new user"><i class="fa fa-file-o"></i> Create new</a></div>
                <div class="pull-right"><a href="/api/v1/users/create" class="btn btn-primary" title="All users in csv file"><i class="fa fa-user"></i> Import as csv</a></div>
                <div class="clearfix"></div>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <!-- Start datatable -->
                <table tr-ng-grid="" items="vm.tableItems" page-items="100" fields="vm.fields" selection-mode="None" class="table table-striped table-primary">
                    <thead>
                        <tr>
                            <th field-name="id" cell-width="4em" class="text-center border-right"></th>
                            <th field-name="firstName"></th>
                            <th field-name="lastName"></th>
                            <th field-name="email" cell-width="12em"></th>
                            <th field-name="mobilePhone" cell-width="15em"></th>
                            <th field-name="status" cell-width="7em" class="text-center"></th>
                            <th field-name="ends" cell-width="7em" class="text-center">Ends</th>
                            <th field-name="isOnline" cell-width="9em" class="text-center"></th>
                            <th field-name="comment" cell-width="15em" class="text-center"></th>
                            <th field-name="deleted_at" cell-width="4em" class="text-center"></th>
                        </tr>
                    </thead>
                    <!--tbody section is required-->
                    <tbody>
                        <tr cell-width="8em">
                            <td field-name="firstName">
                                <img src="http://img.djavaui.com/?create=25x25,4888E1?f=ffffff" class="img-circle img-bordered-theme" alt="{{user.name}}">
                                <span>{{gridDisplayItem.firstName}}</span>
                            </td>
                            <td class="text-center">
                                <a ui-sref="users.edit({ id: gridItem.id })" class="btn btn-primary btn-xs" title="Edit"><i class="fa fa-pencil"></i></a>
                                <a href="javascript:void(0)" ng-click="vm.del(gridItem)" class="btn btn-danger btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Delete"><i class="fa fa-times"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!--/ End datatable -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
        <!--/ End datatable using ajax -->
    </div>
    <!-- /.col-md-12 -->
</div>
<!-- /.row -->
