<div class="row">
    <div class="col-md-12">
        <!-- edit top trade -->
        <h4>Top trades data</h4>
        <form editable-form name="tableform" onaftersave="vm.saveTopTradesTable()" oncancel="vm.cancel()">
            <!-- table -->
            <table class="table table-bordered table-hover table-condensed">
                <tr style="font-weight: bold">
                    <td style="width:40%">Market</td>
                    <td style="width:30%">Level</td>
                    <td style="width:30%">%Change</td>
                    <td style="width:30%"><span ng-show="tableform.$visible">Action</span></td>
                </tr>
                <tr ng-repeat="(index, item) in vm.topTrades track by $index | filter:filterItem
">
                    <td>
                        <span editable-text="item[0]" e-form="tableform">{{ item[0] || 'empty' }}</span>
                    </td>
                    <td>
                        <span editable-text="item[1]" e-form="tableform">{{ item[1] || 'empty' }}</span>
                    </td>
                    <td>
                        <span editable-text="item[2]" e-form="tableform">{{ item[2] || 'empty' }}</span>
                    </td>
                    <td>
                        <button type="button" ng-show="tableform.$visible" ng-click="vm.deleteItem(item, index)" class="btn btn-danger pull-right">Del</button>
                    </td>
                </tr>
            </table>
            <!-- buttons -->
            <div class="btn-edit clearfix">
                <button type="button" class="btn btn-default" ng-show="!tableform.$visible" ng-click="tableform.$show()">
                    edit
                </button>
            </div>
            <div class="btn-form clearfix" ng-show="tableform.$visible">
                <button type="button" ng-disabled="tableform.$waiting" ng-click="vm.addItem()" class="btn btn-default pull-right">add row</button>
                <button type="submit" ng-disabled="tableform.$waiting" class="btn btn-primary">save</button>
                <button type="button" ng-disabled="tableform.$waiting" ng-click="tableform.$cancel()" class="btn btn-default">cancel</button>
            </div>
        </form>
        <!-- file upload -->
        <hr />
        <form name="Form" class="upload-csv-member-home-page">
            <fieldset>
                <legend>Upload PDF or CSV file for member home page</legend>
                <p>PDF files are used for the <b>Report of the Day</b>
                    <br> CSV files are used as a data source for <b>Chart of the Moment</b>
                </p>
                <input type="file" ngf-select ng-model="File" name="file" accept=".pdf,.csv" ngf-max-size="2MB" required>
                <i ng-show="Form.file.$error.required">*required</i>
                <br>
                <i ng-show="Form.file.$error.maxSize">File too large
          {{File.size / 1000000|number:1}}MB: max 2M</i>
                <img ng-show="Form.file.$valid" ngf-thumbnail="File" class="thumb">
                <button ng-click="File = null" ng-show="File">Remove</button>
                <br>
                <button ng-disabled="!Form.$valid" ng-click="vm.uploadFile(File)">Submit</button>
                <span class="progress" ng-show="File.progress >= 0">
                    <div style="width:{{File.progress}}%" ng-bind="File.progress + '%'">
                    <div>
                </span>
                <span ng-show="File.result">Upload Successful</span>
                <span class="err" ng-show="errorMsg">{{vm.errorMsg}}</span>
            </fieldset>
            <br>
        </form>
        <hr />
        <div class="clearfix"></div>
        <div>
            <form name="StocksForm" class="upload-csv-member-home-page">
                <fieldset>
                    <legend>Upload CSV file for stocks</legend>
                    <input type="file" ngf-select ng-model="StocksFile" name="stocksFile" accept=".csv" ngf-max-size="2MB" required>
                    <i ng-show="StocksForm.file.$error.required">*required</i>
                    <br>
                    <i ng-show="StocksForm.file.$error.maxSize">File too large
                    {{StocksFile.size / 1000000|number:1}}MB: max 2M</i>
                    <img ng-show="StocksForm.file.$valid" ngf-thumbnail="File" class="thumb">
                    <button ng-click="StocksFile = null" ng-show="StocksFile">Remove</button>
                    <br>
                    <button ng-disabled="!StocksForm.$valid" ng-click="vm.uploadStocksFile(StocksFile)">Submit</button>
                    <span class="progress" ng-show="StocksFile.progress >= 0">
                    <div style="width:{{StocksFile.progress}}%" ng-bind="StocksFile.progress + '%'">
                    <div>
                </span>
                    <span ng-show="StocksFile.result">Upload Successful</span>
                    <span class="err" ng-show="errorMsg">{{vm.stocksErrorMsg}}</span>
                </fieldset>
                <br>
            </form>
        </div>
    </div>
</div>
<!-- /.row -->
