/* ========================================================================
 * ACCORDION
 * ======================================================================== */
.ng-accordion .panel-group {
  margin-bottom: 0px;
}
.ng-accordion .panel-group .panel .panel-heading {
  border-bottom: none;
}
/* ========================================================================
 * LOADING BAR
 * ======================================================================== */
#loading-bar .bar {
  background-color: #099ce1;
  height: 4px;
}
#loading-bar-spinner .spinner-icon {

}
/* ========================================================================
 * MISC
 * ======================================================================== */
.ng-leave {
  display: none;
}
