/* here you can put your own css to customize and override the theme */

.sidebar-content {
    padding-left: 15px;
}

.navbar-minimize-mobile .right {
    display: none !important;
}

@media screen and (max-width: 768px) {
    #header .navbar-header {
        background-color: #eee;
        height: 65px;
    }
    .header-right .navbar {
        display: none;
    }
    #page-content {
        margin-top: 15px;
    }
}

.body-content {
    min-height: 100%;
}

.sidebar-footer {
    margin-top: 5%;
}

.footer-content {
    display: none;
}

.table .img-circle.img-bordered-theme {
    display: none;
}

.sidebar-footer > a {
    floaT: right !important;
}


/** file uploading progress bar */

.thumb {
    width: 24px;
    height: 24px;
    float: none;
    position: relative;
    top: 7px;
}

form .progress {
    line-height: 15px;
}

.progress {
    display: inline-block;
    width: 100px;
    border: 1px groove #CCC;
}

.progress div {
    font-size: smaller;
    background: orange;
    width: 0;
}

.table-theme tfoot tr th {
    color: rgba(0, 0, 0, 0.91);
    background-color: rgba(42, 42, 42, 0.45) !important;
    border-color: rgba(42, 42, 42, 0.5) white !important;
}

.table-primary.table-bordered {
    border-color: rgba(42, 42, 42, 0.5) !important;
}

.table thead tr th {
    color: rgba(0, 0, 0, 0.91);
    background-color: rgba(42, 42, 42, 0.45) !important;
    border-color: whitesmoke white rgba(42, 42, 42, 0.5) !important;
}

.text-muted {
    color: rgba(42, 42, 42, 0.4);
}

.text-info {
    color: #058CB1 !important;
}

.btn-primary {
    background-color: #058CB1;
    border-color: #05779b;
}

th[field-name="isOnline"] {
    min-width: 80px !important;
}

.tr-ng-grid .tr-ng-column-header .tr-ng-title {
    padding-top: 0;
}

th[field-name="lastYearReturn"] {
    width: 12em !important;
}

.table td div[ng-switch-when="true"] div[ng-transclude] a {
    margin: 2px 5px;
}

.table td div[ng-switch-when="true"] {
    text-align: center;
    min-width: 97px;
}

.admin-stock > li {
    margin: 10px 0;
}

.stock-action-list {
    padding: 0;
    margin: 0;
    border: 1px solid #cccccc;
    font-size: 14px;
    background-color: transparent;
    cursor: default;
}

.stock-action-list li {
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: #636e7b;
    font-size: 15px;
}

.stock-action-list ul {
    margin: 0;
    padding: 0;
}

.stock-action-list.show-stock-action-list li {
    display: block;
}

.stock-action-list ul > li:first-child {
    border-top: 1px dashed rgba(99, 110, 123, 0.56);
}

.stock-action-list li a {
    padding: 3px 0;
    margin: 0 !important;
    background: none;
    color: #636e7b;
    width: 100%;
    border: none;
    font-size: 15px;
}

.stock-action-list li a:hover,
.stock-action-list li a:visited,
.stock-action-list li a:focus {
    border: none;
    background-color: transparent !important;
    color: #636e7b !important;
}

.stock-action-list li a:hover {
    background-color: rgba(42, 42, 42, 0.16) !important;
    color: #313845 !important;
}

.stock-action-list .fa-sort-desc {
    float: right;
    margin-right: 5px;
    height: 1.4em;
}

.stock-action-list .is-expanded .fa-sort-desc {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.stock-action-list div:first-child > div {
    padding: 3px 0;
}

.progress {
    height: auto;
    margin: 5px 0;
    float: left;
    margin-right: 10px;
}

.progress div {
    background-color: #099ce1;
    color: white;
    padding: 5px;
}

.admin-stock {
    list-style-type: none;
}

.admin-stock-load-files {
    list-style-type: none;
    padding: 0;
    margin: 10px 0;
}

.admin-stock-load-files li {
    height: 100%;
}

.body-content {
    padding-bottom: 10px;
}

.table-admin-stock tr:hover,
.table-admin-stock tr:focus {
    background-color: transparent;
}

.table-hover>tbody>tr:hover {
    background-color: transparent !important;
}

.table>tbody>tr.active>td,
.table>tbody>tr.active>th,
.table>tbody>tr>td.active,
.table>tbody>tr>th.active,
.table>tfoot>tr.active>td,
.table>tfoot>tr.active>th,
.table>tfoot>tr>td.active,
.table>tfoot>tr>th.active,
.table>thead>tr.active>td,
.table>thead>tr.active>th,
.table>thead>tr>td.active,
.table>thead>tr>th.active {
    background-color: transparent !important;
}

.table-striped>tbody>tr.active:nth-of-type(odd)>* {
    background-color: #f6f6f6 !important;
}

.vAccordion--default v-pane-header::after,
.vAccordion--default v-pane-header::before {
    right: 5px;
}

.upload-csv-member-home-page .progress {
    float: none;
    margin-bottom: 0;
}

.admin-stock-load-files .progress {
    line-height: 15px !important;
}

.admin-stock-load-files li {
    line-height: 35px;
    height: auto;
}

.btn-edit .btn {
    margin-top: 10px;
}

form button {
    margin-top: 5px;
    float: left;
    margin-right: 10px;
}

form button:first-of-type {
    float: none;
}


/* let user select text in table */

.tr-ng-grid > thead > tr > th,
.tr-ng-grid > tbody > tr > td,
.tr-ng-grid > thead > tr > th > .tr-ng-cell,
.tr-ng-grid > tbody > tr > td > .tr-ng-cell {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}

#cke_textBody{
    margin-bottom: 10px;
}


