<div class="page-content clearfix">

    <main class="main">
        <div id="layerslider" class="layerslider" style="width: 100%; height: 550px; ">

            <div class="ls-slide" data-ls="transition2d: 2; slidedelay: 20000;">

                <img src="img/slider_women.png" style="top: -10px; left: 36px" class="ls-l"
                     data-ls="easingin: easeOutExpo; offsetxin: left; offsetxout: right; delayin: 1700; fadein: false; fadeout: true; durationin: 6000; durationout: 3000;"
                     alt="Image layer"/>

                <h3 class="ls-l slide_title"
                    style="top: 100px; left: 475px; width: 100%;"
                    data-ls="easingin: easeOutExpo; delayin: 750;  offsetxin: left;  offsetxout: right; fadein: false; fadeout: true; durationin: 5800; durationout: 3000">
                    15 DAY FREE TRIAL MEMBERSHIP
                </h3>

                <p class="ls-l slide_text" style="top: 160px; left: 475px;  width: 100%;"
                   data-ls="easingin: easeOutExpo; delayin: 900;  offsetxin: left;  offsetxout: right; fadein: false; fadeout: true; durationin: 6500; durationout: 3000;">
                    Access our expert reports & recommendations free of charge with no obligation.</p>


                <a href="auth/register" title="Sign Up" style="top: 210px; left: 475px; width: auto; height: auto;"
                   class="ls-l slider-button slider-button-two"
                   data-ls="easingin: easeOutExpo; delayin: 3700;  offsetxout: 100px; fadein: true; fadeout: true; durationin: 2500; durationout: 3000;"
                        >Sign Up Now</a>

            </div>

            <div class="ls-slide" data-ls="transition2d: 2; slidedelay: 20000;">

                <img src="img/slider_man.png" style="top: -10px; left: 765px" class="ls-l"
                     data-ls="delayin: 800; easingin: easeOutExpo; offsetxin: left; offsetxout: right; fadein: false; fadeout: true; durationin: 6000; durationout: 3000;"
                     alt="Image layer"/>

                <h3 class="ls-l slide_title"
                    style="top: 100px; left: 145px; width: 100%;"
                    data-ls="easingin: easeOutExpo; delayin: 800;  offsetxin: left;  offsetxout: right; fadein: false; fadeout: true; durationin: 5800; durationout: 3000;">
                    SIGN UP FOR ATM'S FREE<br>DAILY NEWSLETTER</h3>

                <p class="ls-l slide_text" style="top: 200px; left: 145px; width: 100%;"
                   data-ls="easingin: easeOutExpo; delayin: 1100;  offsetxin: left;  offsetxout: right; fadein: false; fadeout: true; durationin: 6500; durationout: 3000;">
                    Access daily reports highlighting ATM's investment views direct to your email.</p>
                <a href="#" title="Subscribe" style="top: 245px; left: 145px; width: auto; height: auto;"
                   class="ls-l slider-button slider-button-one"
                   data-ls="easingin: easeOutExpo; delayin: 3900;  offsetxout: 100px; fadein: true; fadeout: true; durationin: 2500; durationout: 3000;"
                   data-toggle="modal" data-target="#atm-modal">
                    Subscribe Now</a>
            </div>
        </div>
    </main>
</div>
