.row-inline {
    letter-spacing: -4px;
    font-size: 0;
}

.row-inline > *[class*="col-"] {
    float: none;
    display: inline-block;
    letter-spacing: 0;
    font-size: 14px;
    vertical-align: top;
}

.row-inline.align-middle > *[class*="col-"] {
    vertical-align: middle;
}

.row-inline.align-bottom > *[class*="col-"] {
    vertical-align: bottom;
}

.row-inline.align-top > *[class*="col-"] {
    vertical-align: top;
}

.full_width > *[class*="col-"]{
    padding-left: 0;
    padding-right: 0;
}

.row.full_width{
    margin-left: 0;
    margin-right: 0;
}

.navbar-toggle{
    border: 1px solid #008fd5;
    padding: 5px 10px;

}

.navbar-toggle .icon-bar{
    background-color: #008fd5;
    width: 35px;
    margin: 7px 0;
}

.navbar-toggle:hover{
    background-color: #008fd5;
}

.navbar-toggle:hover .icon-bar{
    background-color: whitesmoke;
}

.navbar-header{
    margin-left: 25px;
}

a:focus{
    outline: none !important;
}

.align-center{
    text-align: center;
}

.align-right{
    text-align: right;
}

.table-responsive{

}

.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}


@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}



