/* Core styles
-----------------------------------------------------------------------------*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, main, nav, section, summary {
    display: block;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}
html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
html, body {
    height: 100%;
    min-width: 320px;
    color: #73848e;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    border: 0;
    vertical-align: middle;
}
strong {
    font-weight: 700;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #73848e;
}

body p{

}

a{
    color: #008fd5;
    text-decoration: none;
    -webkit-transition: color ease-in-out .15s;
    -moz-transition: color ease-in-out .15s;
    -o-transition: color ease-in-out .15s;
    transition: color ease-in-out .15s;

}

a:hover, a:focus{
    color: #0073aa;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #23323a;
}


/* Clear float */
.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
}
.clearfix:after {
    clear: both;
}

.pull-left {
    float: left;
}
.pull-right {
    float: right;
}

.text-middle {
    vertical-align: middle;
}

nav > a{
    display: inline-block;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {-webkit-appearance: none;
    margin:0;}

.section{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 15px;
}

.back-to-top{
    display: none;
}

.back-to-top a{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    opacity: .8;
    z-index: 1000;
    background: #0996d2 url(../../img/back-to-top.png) center center no-repeat;
    cursor: pointer;

    -webkit-transition: opacity .3s;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    transition: opacity .3s;
}

.back-to-top a:hover{
    opacity: 1;
}

a.button.biggest{
    visibility: visible !important;
}








