.main {
    position: relative;
    z-index: 0;
    margin-top: -53px;
}

.banner-title {
    color: white;
    line-height: 1.2;
}


h1.banner-title {
    color: white;
    line-height: 1.2;
}

h1.banner-title{
    font-size: 3em;
}

h2.banner-title{
    margin-top: 15px;
    font-size: 2em;
}

.slide_title {
    text-transform: uppercase;
    color: white;
    font-size: 40px;
    line-height: 100%;
}

.slide_text {
    font-size: 3em;
    color: white;
    font-size: 16px;
    max-width: 700px;
    padding-right: 30px;
    line-height: 1.2;
}

.slider-button {
    padding: 20px 30px;
    font-size: 1.5em;
    line-height: 24px;
    background: #0074A2;
    border-radius: 5px;
    color: #FFF;
    border: 1px solid #707e89;
    width: 100%;
    max-width: 250px;
/*    padding: 20px;*/
}

.slider-button:hover {
    background-color: #0098D5;
    color: white !important;
}

.slider-button:active {
    padding: calc(20px + 1px) 30px calc(20px - 1px) !important;
}

.banner{
    padding-top: 60px;
    padding-bottom: 30px;
}

.banner a.button.biggest {
    border-radius: 5px;
    color: #FFF;
    border: 1px solid #4cae4c;;
    width: 100%;
    max-width: 250px;
    padding: 25px 0;
    background-color: rgba(92, 184, 92, 0.69);
}

.banner a.button.biggest:hover{
    background-color: rgb(92, 184, 92);
}

.banner .button-container {
    position: relative;
    width: 100%;
    top: 155px;
}

.banner .row {
    height: 100%;
}

.banner .banner-column {
    position: relative;
    height: 100%;
}

.banner .col-sm-6 {
    position: relative;
    height: 100%;
}

.banner ul {
    text-align: left;
}

.slider-button:focus {
    color: white;
}

/*.slider-button:visited, .slider-button:focus,*/
.banner .banner-description {
    display: inline-block;
    position: relative;
    top: 330px;
    left: 15px;
    color: white;
    font-size: 2.2em;
    font-weight: 600;
    line-height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

.banner li {
    padding-left: 15px;
    padding-right: 15px;
    border-left: 3px solid white;
    float: left;
}

.banner li:first-child {
    padding-left: 0;
    border-left: none;
}

.banner a.button.biggest{
    margin-top: 0;
}

.container_who_we_are {
    background-color: #23323a;
    color: #c4d3de;
    text-align: center;
}

.who_we_are_title {
    font-size: 2.1em;
}

.container_who_we_are > section {
    padding: 20px 15px;
}

.who_we_are_title {
    text-transform: capitalize;
}

.who_we_are_title:first-child {
    padding: 20px;
}

.who_we_are_text {
    font-size: 1.5em;
    line-height: 26px;
    margin: 30px 0;
    color: white;
}

.who_we_are_text strong {
    color: white;
}

.main_section_image {
    margin-top: 20px;
}

.main_section_image > *[class*="col-"] {
    overflow: hidden;
    border-right: 1px solid rgba(0, 0, 0, 0);
}

.main_section_image > *[class*="col-"]:hover img, .container-motifs .motifs-column:hover img {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.main_section_image img, .container-motifs .motifs-column img {
    z-index: 100;
    width: 100%;
    height: auto;

    -webkit-transition: -webkit-transform 0.4s ease;
    -moz-transition: -moz-transform 0.4s ease;
    -o-transition: -moz-transform 0.4s ease;
    transition: transform 0.4s ease;
}

.main_section_image h4 {
    color: #fff;
    font-size: 1.45em;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
}

.description_main_image small {
    display: inline-block;
    line-height: 110%;
    font-size: 11px;
    margin-top: 15px;
    text-transform: uppercase;
    color: #97a4ad;
}

.description_main_image {
    overflow: visible;
    padding: 30px;
    position: relative;
    background: #2a3b45;
    text-align: left;

    -webkit-transition: background-color 0.4s ease;
    -moz-transition: background-color 0.4s ease;
    -o-transition: background-color 0.4s ease;
    transition: background-color 0.4s ease;

}

.description_main_image .project-like {
    position: absolute;
    right: 20px;
    top: 35px;
}

.project-like {
    cursor: pointer;
}

.description_main_image i {
    font-size: 2.2em;

    -webkit-transition: color ease-in-out .15s;
    -moz-transition: color ease-in-out .15s;
    -o-transition: color ease-in-out .15s;
    transition: color ease-in-out .15s;
}

.description_main_image > a{
    display: block;
}

.project-like span {
    font-size: 11px;
    font-weight: 300;
    vertical-align: middle;
    color: #97a4ad;
}

.main_section_image_icons {
    position: absolute;
    top: 34%;
    margin-top: -27px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    color: #fff;
}

.main_section_image_icons > a > i {
    font-size: 21px;
    color: rgba(0, 0, 0, 0.72);
    line-height: 45px;
}

.main_section_image_icons > a {
    width: 50px;
    height: 50px;

    margin: 0 2px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.4);
    border: 4px solid rgba(238, 238, 238, 0.12);

    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
    -webkit-transition: -webkit-transform .3s, opacity .6s, background .3s, color .3s;
    -moz-transition: -moz-transform .3s, opacity .6s, background .3s, color .3s;
    -o-transition: -moz-transform .3s, opacity .6s, background .3s, color .3s;
    transition: transform .3s, opacity .6s, background .3s, color .3s;
}

.main_section_image > *[class*="col-"]:hover .main_section_image_icons > a {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=1);
    filter: alpha(opacity=1);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}

.main_section_image > *[class*="col-"]:hover .main_section_image_icons > a i {
    color: white;
}

.main_section_image > *[class*="col-"] .main_section_image_icons > a:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.layerslider,
.banner {
/*    padding: 83px 0;*/
    width: 100%;
    height: 650px;
    position: relative;
    background: no-repeat url('../../img/background_layerslider_two.jpg') 0 0;
    background-size: cover;
}

.layerslider .ls-inner {
    top: 0;
}

.ie .layerslider .ls-inner, .ff .layerslider .ls-inner, .edge .layerslider .ls-inner {
    top: -37px;
}

.ie .ls-circle-timer, .ff .ls-circle-timer, .edge .ls-circle-timer {
    right: 25px;
}

.container_who_we_are {
    overflow: hidden;
}

.main_section_image *[class*="col-"]:hover .description_main_image {
    background-color: #2f424d;
}

.main_section_image *[class*="col-"]:hover .description_main_image:before {
    border-bottom: 8px solid #2f424d;
}

.container_freetrial {
    padding: 55px 0;
    background-color: #fcfcfc;
    border-top: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}

.container_freetrial span {
    color: #008fd5;
    text-transform: uppercase;
}

.container_freetrial h2 {
    color: #23323a;
    font-size: 2em;
    line-height: 120%;
}

.container_freetrial i {
    color: white;
    font-size: 15px;
}

a.button, button {
    background-color: rgba(0, 143, 213, 0.73);
    color: #fff;
    font-size: 1em;
    padding: 10px 20px;
    display: inline-block;
    text-transform: uppercase;
    border: none;

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

a.button.biggest {
    padding: 20px 60px;
    font-size: 1em;
}

a.button:hover {
    background-color: #0084bb;
}

.container_recent_posts {
    margin: 45px 0;
}

.recent_posts_title {
    text-transform: capitalize;
    font-size: 1.8em;
    font-weight: 400;
    line-height: 1.8em;
}

.container_recent_posts .recent_posts_title {
    margin-top: 0;
}

.blog_post {
    margin-top: 35px;
    overflow: hidden
}

.recent_post_meta {
    float: left;
    /*    width: 60px;*/
    margin-right: 10px;
}

.post_thumbnail {
    float: left;
    width: 150px;
    margin-right: 25px;
    margin-bottom: 5px;
}

.stock_thumbnail {
    max-width: 200px;
    margin-right: 30px;
    float: left;
    /*    display: inline-block;
        vertical-align: middle;*/
}

.post_thumbnail img, .stock_thumbnail img {
    width: 100%;
    height: auto;

    -webkit-transition: -webkit-transform 0.2s ease-out;
    -moz-transition: -moz-transform 0.2s ease-out;
    -ms-transition: -ms-transform 0.2s ease-out;
    transition: transform 0.2s ease-out;

    -webkit-transform: perspective(1000px) translate3d(0, 0, 0);
    -moz-transform: perspective(1000px) translate3d(0, 0, 0);
    -ms-transform: perspective(1000px) translate3d(0, 0, 0);
    -o-transform: perspective(1000px) translate3d(0, 0, 0);
    transform: perspective(1000px) translate3d(0, 0, 0);
}

.post_thumbnail img:hover, .stock_thumbnail img:hover {
    -webkit-transform: perspective(100px) translate3d(0, 0, 15px);
    -moz-transform: perspective(100px) translate3d(0, 0, 15px);
    -ms-transform: perspective(100px) translate3d(0, 0, 15px);
    -o-transform: perspective(100px) translate3d(0, 0, 15px);
    transform: perspective(100px) translate3d(0, 0, 15px);
}

.post_image, {
    /*    max-width: 200px;*/
    float: left;
    margin-right: 30px;
}

.post_date {
    color: #23323a;
    display: block;
    font-size: 0.9em;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    max-width: 5.08em !important;
}

.post_day {
    font-size: 48px;
    line-height: 42px;
    display: inline-block;
    margin: 0 0 10px;
    color: #008fd5;
}

.post_formate {
    display: block;
    text-align: center;
    margin: 8px 0 0;
    color: #a5b0b6;
    font-size: 16px;
}

.post_content_meta {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #E5E8EA;
    overflow: hidden;
}

.post_content .post_content_meta {
    padding-left: 0;
}

.post_content_meta li {
    float: left;
    margin-right: 5px;
    color: #23323A;
    font-size: 0.75em;
    text-transform: uppercase;
    background: url('../../img/post-meta-square.png') left center no-repeat;
    padding-left: 15px;
}

.post_content_meta .post_read_more:after {
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-left: 5px;
    background: url('../../img/read-more-arrow.png') no-repeat;
    position: relative;
    top: 2px;
}

.post_content .post_content_meta > li > h3 {
    font-size: 1.5em;
}

.accordion-header {
    border: 1px solid #ddd;
    border-left-color: transparent;
    border-right-color: transparent;
    cursor: pointer;
    position: relative;
    padding-left: 40px;
    margin-bottom: -1px;
}

.accordion-header h5 {
    font-size: 14px;
    padding: 7px 10px;
    transition: color .3s;
    -webkit-transition: color .3s;
    -moz-transition: color .3s;
    border-left: 1px solid #ddd;
}

.accordion-icon {
    background: url(../../img/accordion-icons.png) no-repeat;
    width: 38px;
    height: 38px;
    position: absolute;
    left: 0;
    top: 0;
    transition: background .3s;
    -webkit-transition: background .3s;
    -moz-transition: background .3s;
}

.accordion-content {
    padding: 0 10px;
    margin: 10px 0;
}

.accordion-active .accordion-icon {
    background-position: 0 -38px;
}

.accordion-active .accordion-header h5 {
    color: #008fd5;
}

.testimonial {
    margin-top: 25px;
}

.testimonial-header {
    background: #23323a;
    color: #fff;
    display: table;
    width: 100%;
    position: relative;
    margin-bottom: 30px;
}

.testimonial-image {
    display: table-cell;
    width: 81px;
}

.testimonial-meta {
    display: table-cell;
    padding: 0 20px;
    vertical-align: middle;
    text-align: left;
}

.testimonial-quote {
    font-size: 1.1em;
    padding: 0;
    display: block;
    margin: 10px 0;
    border: none;
    font-weight: 400;
    color: #008fd5;
    overflow: visible;
}

.testimonial-quote:before {
    content: '';
    padding: 3px 0 3px 55px;
    background: url('../../img/testimonial-blockquote.jpg') 0 -9px no-repeat;
}

.testimonial-quote:after {
    content: '';
    padding: 3px 0 3px 55px;
    background: url('../../img/testimonial-blockquote_end.jpg') 5px -12px no-repeat;
}

.testimonial-author {
    font-size: 1.4em;
    display: block;
    font-weight: 300;
}

.testimonial-job {
    color: #8cd9ff;
    font-size: 0.75em;
    text-transform: uppercase;
    display: block;
}

.container_services_list {
    padding: 60px 0;
    background: url('../../img/section_background_one.jpg') no-repeat fixed center;
    background-size: cover;
}

.bg1b-container {
    position: relative;
}

.bg1b-img {
    position: absolute;
    left: 28%;
    top: 5.5%;
    width: 66%;
    height: 69%;
}

.services-list li {
    position: relative;
    padding: 15px 0 15px 70px;
    border-top: 1px solid #00a2de;
}

.services-list li:first-child {
    border-top: none;
}

.services-list > li > img {
    position: absolute;
    left: 0;
    top: 20px;
    font-size: 38px;
}

.services-list li h3 {
    margin-bottom: 10px;
    font-weight: 300;
    color: white;
    font-size: 1.8em;
}

.services-list li p {
    line-height: 22px;
    color: #8cd9ff;
}

.container_services_list_left_image {
    width: 100%;
    height: auto;
}

.container_form_login {
    background: no-repeat url('../../img/section_background_one.jpg') center center;
    background-size: cover;
}

.container_form_register_login {
    background: no-repeat url('../../img/section_background_one.jpg') center center;
    background-size: cover;
}

.container_form_register_login > .row > div h3 {
    text-transform: uppercase;
}

.container_form_register_login .button-form {
    width: 35%;
}

.container_form {
    padding: 45px;
    text-align: center;
}

.container_form h3 {
    color: rgb(255, 255, 255);
    font-size: 2.3em;
    line-height: 110%;
    font-weight: 300;
    margin-bottom: 40px;
    text-align: center;
}

.container_form_register_login .senddata {
    width: 40%;
}

.form_group input {
    background: rgba(255, 255, 255, 0.6);
    color: #19242a;
    width: 100%;
    border: 1px solid transparent;
    padding: 10px 15px;

    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.modal .form_group input {
    padding-right: 35px;
}

.form_group input[name="email"] {
    background: rgba(255, 255, 255, 0.6);
}

.form_group input:focus {
    background-color: white;
    border: 1px solid rgba(0, 115, 170, 0.71);
    box-shadow: 0 0 7px rgba(0, 115, 170, 0.6);
}

.container_form form textarea::-webkit-input-placeholder {
    color: #19242a;
}

.form_group input::-webkit-input-placeholder {
    color: #19242a;
}

.container_form form textarea {
    color: #19242a;
    height: 100px;
    background: rgba(255, 255, 255, 0.6);
    width: 100%;
    border: none;
    padding: 10px 15px;
    margin-bottom: 20px;

    -webkit-transition: background 0.3s;
    -moz-transition: background 0.3s;
    -o-transition: background 0.3s;
    transition: background 0.3s;
}

.container_form form textarea:focus {
    background: white;
    border: 1px solid rgba(0, 115, 170, 0.71);
    box-shadow: 0 0 7px rgba(0, 115, 170, 0.6);
}

.form_group {
    position: relative;
    margin-bottom: 20px;
}

.form_group i {
    position: absolute;
    top: 35%;
    right: 10px;
    color: #008fd5;
    font-size: 18px;
}

.button-form {
    background: rgba(255, 255, 255, .15);
    border: 1px solid #707e89;
    color: #fff;
    padding: 12px 25px;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1em;
    position: relative;

    -webkit-transition: background .3s;
    -moz-transition: background .3s;
    -o-transition: background .3s;
    transition: background .3s;
}

.container_form_login form input[type="submit"], .container_form form input[type="button"] {
    width: 45%;
}

.form_group_button {
    margin-bottom: 20px;
}

.container_form_login .hr {
    border-top: 1px solid whitesmoke;
    width: 100%;
}

.form_group_button .validation-errors {
    margin-bottom: 15px !important;
}

.form-login-info {
    margin-top: 20px;
}

.form-login-info a {
    position: relative;
    color: white;
    font-size: 1.15em;
    font-weight: 100;
    text-transform: capitalize;
}

.form-login-info a:after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid whitesmoke;

    -webkit-transform: translateY(12px);
    -moz-transform: translateY(12px);
    -o-transform: translateY(12px);
    transform: translateY(12px);

    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.form-login-info a:hover:after {
    opacity: 1;

    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px);
    transform: translateY(5px);
}

.form-login-info *[class*=col-]:first-child {
    border-right: 1px solid whitesmoke;
}

.remember-me {
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: 1.15em;
    font-weight: 100;
    margin-left: 10px;
}

.container_form form input[type="reset"] {
    padding-right: 40px;
}

.container_form form input[type="submit"]:hover, .container_form form input[type="reset"]:hover, .container_form form input[type="button"]:hover {
    background: rgba(255, 255, 255, .2);
}

.iconic-button {
    display: inline-block;
    position: relative;
}

.iconic-button .icon-cancel-circled {
    position: absolute;
    top: 16px;
    right: 15px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
}

.iconic-button i:hover + input {
    background: rgba(255, 255, 255, .2);
}

.alert {
    color: whitesmoke;
    font-size: 15px;
}

.what-sets-img {
    border-bottom: 8px solid #1e73be;
}

.what-sets-text {
    padding: 25px 35px;
}

.what-sets-text h4 {
    font-weight: 400;
    font-size: 1em;
    color: gray;
    line-height: 1.5;
    text-transform: uppercase;
}

.what-sets-text h3 {
    color: #1e73be;
    font-size: 2.15em;
    line-height: 1.3;
    margin: 0;
    padding: 0 0 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.what-sets-text-title {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.what-sets-text-detail {
    padding-top: 20px;
}

.what-sets-column {
    border: 1px solid rgba(0, 0, 0, 0.12);
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
}

.what-sets h3 {
    color: #363636;
    font-size: 2.3em;
    text-transform: none;
    font-weight: 100;
    text-align: center;
    line-height: 100%;
}

.what-sets p {
    text-align: center;
    margin: 30px 0;
}

.what-sets-container {
    padding: 45px 0;
}

a.button-member-login {
    margin-left: 10px;
}

.button-member-login-rubber {
    display: none !important;
}

.container-account-locked {
    padding: 30px;
    text-align: center;
}

.container-account-locked img {
    max-width: 500px;
}

.container-account-locked h2 {
    text-transform: uppercase;
    font-size: 32px;
    color: #008fd5;
    line-height: 1.3;
    margin: 20px 0;
}

.account-locked-description {
    font-size: 1.15em;
    /*    color: rgb(91, 155, 213);*/
    margin-bottom: 15px;
}

.container-password-recovery {
    padding: 45px 0;
}

.container-password-recovery h3 {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
    color: whitesmoke;
    line-height: 1.2;
}

.container-password-recovery p {
    margin: 15px 0;
    color: rgb(209, 249, 255);
}

.container-change-password li {
    color: rgb(209, 249, 255);
    margin: 15px 0;
}

.container-change-password ul {
    list-style: circle;
    margin-left: 20px;
}

.container-password-recovery form {
    padding: 30px 35px;
    background: -moz-linear-gradient(top, rgba(35, 172, 193, 0.8) 0%, rgba(1, 145, 211, 0.8) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #23acc1), color-stop(100%, #0191d3));
    background: -o-linear-gradient(top, rgba(35, 172, 193, 0.8) 0%, rgba(1, 145, 211, 0.8) 100%);
    background: -ms-linear-gradient(top, rgba(35, 172, 193, 0.8) 0%, rgba(1, 145, 211, 0.8) 100%);
    background: linear-gradient(to bottom, rgba(35, 172, 193, 0.8) 0%, rgba(1, 145, 211, 0.8) 100%);
}

.container-password-recovery .button-form {
    float: right;
    width: 50%;
}

.container-password-recovery-or {
    text-align: center;
}

.container_form_login form {
    padding: 30px 35px;
    padding-bottom: 0;
}

.container_form_login_img img {
    box-shadow: 0 0 8px #eee;
}

.vertical_nav {
    margin-bottom: 15px;
    /*    margin-top: 15px;*/
    width: 100%;
    background: white;
}

.vertical_nav__opened {
    width: 100%
}

.menu--item {
    background: #0191D3;
    margin-top: 5px;
}

.menu--label {
    color: whitesmoke;
    padding: 0 20px;
    font-weight: bold;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.menu--label:hover {
    padding-left: 25px;
    padding-top: 1px;
}

.menu--subitens__opened .menu--label {
    padding-left: 25px;
    padding-top: 1px;
}

.collapse_menu {
    display: none;
}

.menu--link {
    position: relative;

    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.members_info {
    background: rgba(9, 142, 209, 0.83);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 14px;
    color: white;
}

.members_info, .members_info a, .members_info label {
    color: white;
    font-size: 1.15em;
    font-weight: 100;
}

.members_info_search_box input {
    margin-left: 15px;
    color: #93a6b0;
    padding: 5px 10px;
    border: none;
}

.members_info_right_column a {
    display: inline-block;
    margin-right: 35px;
}

.members_info_right_column .members_info_search_box {
    display: inline-block;
}

.members_info_left_column a {
    display: none;
    margin-left: 25px;
}

.members_info_section {
    padding: 0 15px;
}

.member_home_table {
    width: 100%;
    text-align: center;
    font-size: 1.15em;
    border-bottom: 3px solid #3d4952;
    table-layout: fixed;
}

.member_home_table thead th {
    text-transform: capitalize;
    color: #006fa5;
    border-bottom: 3px solid #3d4952;
    cursor: pointer;
    text-align: center;
    font-weight: 100;
    padding: 7px 5px;
}

.false-sort-first-column thead th {
    padding-left: 20px;
}

.regional-breakdown.tablesorter thead th:first-child, .sector-breakdown.tablesorter thead th:first-child, .top-ten-holdings.tablesorter thead th:first-child {
    background: none;
    cursor: default;
}

.member_home_table td {
    padding: 7px 5px;
    color: black;
}

.member_home_table tbody tr:hover {
    background-color: rgba(0, 155, 221, 0.17);
}

.division_table td {
    color: #727b85;
}

.member_home_table .negative-value {
    color: red;
}

.member_home_table .positive-value {
    color: #00a300;
}

.members_info_container {
    position: relative;
    padding-top: 30px;
    padding-bottom: 45px;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.members_info_main {
    margin-left: 310px;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.container-right-column {
    margin-top: 35px;
}

.members_info_container .container-right-column:first-child {
    margin-top: 0;
}

.members_info_main_right_column_title {
    color: white;
    text-transform: uppercase;
    font-size: 1em;
    margin-bottom: 20px;
    padding: 10px 10px 10px 20px;
    background-color: #3d4952;
}

.members_info_container .container-right-column h3 {
    color: #006fa5;
    font-size: 1.15em;
    text-indent: 20px;
}

.top_perfoming_title {
    padding: 15px;
    color: white;
    font-size: 1.15em;
    margin-top: 5px;

    background: #0191D3;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.top_perfoming_name {
    float: left;
    text-transform: capitalize;
}

.top_perfoming_percent {
    float: right;
}

.top-perfoming-container img {
    width: 100%;
    height: auto;
    margin-top: 3px;
}

.top-perfoming-container a {
    display: block;
    margin-top: 20px;
}

.top-perfoming-container a:first-child {
    margin-top: 0;
}

.top-perfoming-container a:hover .top_perfoming_title {
    background: #0084BB;
    text-shadow: 0 0 1px #eee;
}

.chart-container {
    margin: 35px 0;
}

.member_home_page_chart_one {
    width: 100%;
    height: 350px;
}

svg .highcharts-tooltip + text {
    display: none;
}

.toggle_menu .icon-bar {
    width: 20px;

    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);

    -webkit-transition: 0.35s all;
    -moz-transition: 0.35s all;
    -o-transition: 0.35s all;
    transition: 0.35s all;
}

.toggle_menu .icon-bar:first-child {
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    transform: rotate(30deg);
}

.toggle-content .toggle_menu .icon-bar {
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;

    -webkit-transform: rotate(-45deg) translateY(4px);
    -moz-transform: rotate(-45deg) translateY(4px);
    -ms-transform: rotate(-45deg) translateY(4px);
    -o-transform: rotate(-45deg) translateY(4px);
    transform: rotate(-45deg) translateY(4px);
}

.toggle-content .toggle_menu .icon-bar:first-child {
    -webkit-transform: rotate(45deg) translateY(-4px);
    -moz-transform: rotate(45deg) translateY(-4px);
    -ms-transform: rotate(45deg) translateY(-4px);
    -o-transform: rotate(45deg) translateY(-4px);
    transform: rotate(45deg) translateY(-4px);
}

.checkbox, .radio {
    display: inline-block;
    vertical-align: middle;
    color: white;
    font-size: 1.15em;
    font-weight: 100;
    margin-left: 10px;
}

.disclaimer-text {
    max-height: 500px;
    overflow-y: scroll;
    border: 1px solid #93a6b0;
    padding: 20px 50px 20px 50px;
    color: #3b4650;
}

.container-disclaimer {
    padding: 45px 0;
}

.checkbox-group {
    margin-top: 25px;
}

.checkbox-group label {
    color: #73848e;
    display: inline;
}

.container-disclaimer input[type="checkbox"]:checked + label + .checkbox {
    color: #008fd5;
}

.container-disclaimer input[type="submit"] {
    background-color: #008fd5;
    width: 150px;
}

.disclaimer-form {
    padding: 0 50px;
}

.portfolio-title {
    background: rgba(9, 142, 209, 0.83);
    padding: 10px 15px;
    font-size: 15px;
    color: white;
    text-transform: uppercase;
}

.portfolio {
    padding: 30px 0 45px 0;
}

.portfolio-left-column {
    margin-top: 10px;
}

.portfolio-left-column h4 {
    font-weight: 700;
}

.portfolio-left-column:first-child {
    margin-top: 0;
}

.portfolio-left-column-container {
    padding: 20px 0 20px 15px;
}

.portfolio-right-column-container {
    padding-bottom: 20px;
}

.portfolio-breakdown-table-container {
    margin-top: 25px;
}

.portfolio-right-column-container table {
    text-align: right;
}

.portfolio-breakdown-table-container:first-child {
    margin-top: 0;
}

.portfolio-right-column-container .portfolio-breakdown-table-container thead tr td:first-child {
    width: 50%;
}

.portfolio-right-column-container .portfolio-breakdown-table-container tr td {
    text-align: center;
}

.portfolio-breakdown-table-container tfoot {
    border-top: 3px solid #3d4952;
}

.portfolio-breakdown-table-container > table > caption {
    text-align: left;
}

.portfolio-breakdown-table-container > table > caption > span {
    padding: 5px 20px;
    display: inline-block;
    color: whitesmoke;
    font-size: 1.1em;
    background-color: #3d4952;
    text-align: left;
}

.portfolio-breakdown-table-container table {
    font-size: 1em;
    /*    table-layout: auto;*/
    border-top: 3px solid #3d4952;
}

.portfolio-breakdown-table-container .key-information thead td:first-child {
    background-color: inherit;
    color: inherit;
}

.portfolio-breakdown-table-container .key-information {
    table-layout: fixed;
    text-align: left;
}

.portfolio-center-column-container {
    padding: 20px 0;
}

.concentrated-portfolio .portfolio-center-column-container{
    padding: 0;
}

.portfolio-center-column-container h3 {
    font-size: 17px;
    color: black;
}

.portfolio-center-column-container h4 {
    color: #008fd5;
    margin-top: 20px;
}

.portfolio-center-column-container table {
    width: 100% !important;
    table-layout: auto;
    border: 1px solid black;
}

.portfolio-center-column-container[data-trial="true"] .table-responsive {
    margin-top: 20px;
}

.portfolio-center-column-container[data-trial="true"] .table-responsive td,
.portfolio-center-column-container[data-trial="true"] .table-responsive td a,
.portfolio-center-column-container[data-trial="true"] .table-responsive td::selection {
    color: #E6F1F6;
}

.portfolio-center-column-container[data-trial="true"] {
    visibility: visible;
}

.portfolio-center-column-container td, .portfolio-center-column-container th {
    text-align: center;
    padding: 5px;
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid black;
    background-color: rgba(0, 111, 165, 0.1);
}

.portfolio-center-column-container thead {
    text-transform: capitalize;
    background-color: rgba(9, 142, 209, 0.83);
    color: whitesmoke;
}

.portfolio-center-column-container thead td, .portfolio-center-column-container thead th {
    border-bottom: none;
    font-size: 13px;
    font-weight: 700;
    text-transform: capitalize;
    padding: 10px 5px;
    color: whitesmoke;
}

.portfolio-breakdown-table-container .key-information {
    text-align: right;
}

.portfolio-perfomance-container h3,
.portfolio-title-column {
    margin-bottom: 20px;
    font-size: 1.3em;
    color: black;
}

.portfolio-title-column{
    margin-top: 20px;
}



.regional-breakdown thead td:first-child, .sector-breakdown thead td:first-child, .top-ten-holdings thead td:first-child {
    background-color: transparent;
    color: transparent;
}

.regional-breakdown thead td.curcol:first-child, .sector-breakdown thead td.curcol:first-child, .top-ten-holdings thead td.curcol:first-child {
    background-color: transparent;
    color: transparent;
}

.research-container {
    font-size: 1.1em;
    margin-top: 35px;
}

.research-container a.button {
    margin: 0;
    font-size: 1.15em;
}

.research-reports-container .research-container:first-child {
    margin-top: 0;
}

.research-news {
    padding: 15px 5px;
}

.research-reports-container {
    padding-top: 45px;
    padding-bottom: 45px;
}

.research-news-date {
    min-width: 7.7em;
    vertical-align: top;
}

.research-meta {
    margin: 15px 0 5px 0;
}

.research-meta tbody > tr > td {
    padding-left: 20px;
}

.research-meta tbody > tr > td:first-child {
    width: 10%;
}

.research-container-block > table {
    width: 100%;
}

.research-meta caption {
    background: #eee;
    margin-bottom: 10px;
    padding: 10px 10px 10px 15px;
}

.research-meta caption h4 {
    text-align: left;
    font-size: 1.15em;
    text-transform: capitalize;
}

.research-meta tr td {
    text-align: justify;
    padding: 5px 0 5px 0;
}

.report-archive tbody > tr > td > a {
    margin-left: 15px;
}

.report-archive tbody > tr > td > a:first-child {
    margin-left: 0;
}

.container-free-trial {
    padding: 30px;
    background: white;
}

.stock-specific {
    padding: 45px 0;
}

.abc-nzx {
    text-align: right;
}

.abc-nzx tbody tr td:first-child {
    text-align: left;
}

.stock-specific .stock-specific-title {
    margin-top: 0;
    margin-bottom: 25px;
}

.stock-specific-title span {
    border-right: 1px solid whitesmoke;
    height: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.stock-specific-title-rubber {
    display: none;
}

.admin-stock > li {
    margin: 10px 0 !important;
}

.menu-vertical li:first-child {
    margin-top: 7px;
}

.menu-vertical > li:first-child {
    margin-top: 0;
}

.portfolio-perfomance-container {
    margin-bottom: 45px;
}

.pros-atm ul {
    text-align: left;
    font-size: 1.3em;
    color: white;
    padding-left: 30px;
}

.pros-atm ul li {
    margin-top: 35px;
    padding-left: 50px;
    /*    float: left;*/
}

.pros-atm ul li:first-child {
    margin-top: 0;
}

.pros-atm ul li:before {
    float: left;
    margin-top: 2px;
    margin-left: -40px;
    content: '\e800';
    margin-right: 15px;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.7);

    font-family: "fontello";
    font-size: 1.4em;
    color: white;
    font-style: normal;
    font-weight: normal;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}

.payment-plans-container h2 {
    font-size: 1.3em;
    text-transform: uppercase;
    background-color: #e9e9e9;
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #D0CCCC;
}

.payment-optional {
    text-align: center;
    padding: 20px;
    background-color: #F1F1F1;
}

.payment-optional h3 > strong {
    font-size: 2.3em;
    color: #1e73be;
    line-height: 1.3;
    margin: 0;
    padding: 0 0 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.payment-optional h3 {
    color: #1e73be;
    font-size: 1.2em;
}

.optional-time {
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 20px;
    font-style: italic;
    position: relative;
    display: inline-block;
}

.optional-time:after {
    content: '';
    position: absolute;
    bottom: -10px;
    height: 1px;
    background: #DADADA;
    /*    left: -5%;
        width: 110%;*/
    left: 0;
    width: 100%;
}

.option-twelve-monthly h2 {
    color: white;
    background-color: rgba(0, 82, 123, 0.82);
    border-bottom: 1px solid #2B6582;
}

.option-twelve-monthly .payment-optional {
    background-color: rgba(0, 82, 123, 0.71);
}

.option-twelve-monthly .optional-time {
    color: white;
}

.option-twelve-monthly .optional-time:after {
    background: rgba(255, 255, 255, 0.7);
}

.option-twelve-monthly h3 strong, .option-twelve-monthly h3 {
    color: white;
    text-shadow: 1px 1px #1e5faa;
}

.option-twelve-monthly .button {
    box-shadow: 0 0 6px white;
    border: 1px solid transparent;

    -webkit-transition: 0.25s all;
    -moz-transition: 0.25s all;
    -o-transition: 0.25s all;
    transition: 0.25s all;
}

.option-twelve-monthly .button:hover {
    border: 1px solid rgba(238, 238, 238, 0.71);
    box-shadow: 0 0 8px white;
}

.products-container {
    padding-top: 45px;
    padding-bottom: 45px;
}

.products-container figure img {
    position: relative;
    border-bottom: 8px solid #1e73be;
    width: 100%;
    height: auto;
}

.products-container figure > figcaption {
    padding: 25px 35px;
}

.products-container figure {
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.products-column h3 {
    text-align: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    color: #1e73be;
    font-size: 2.15em;
    line-height: 1.3;
    margin: 0;
    padding: 0 0 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.products-container .products-column p {
    margin-top: 15px;
    text-align: justify;
}

.products-container .products-column ol {
    margin-top: 15px;
    list-style-type: decimal;
    display: inline-block;
    min-width: 15em;
}

.products-container .products-row:first-child {
    margin-bottom: 35px;
}

.products-container figure > figcaption ol li {
    text-align: left;
}

.products-model-portfolios {
    text-align: center;
}

.investor-valuation-container {
    background: #5BA0E3;
    border-radius: 5px;
    box-shadow: 0 3px 3px #485890;
    margin: 35px auto;
    padding: 25px;
}

.investor-valuation-container i {
    font-size: 8em;
    color: white;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.51);
}

.investor-valuation-container .wrench {
    float: left;
}

.investor-valuation-container h2 {
    text-transform: capitalize;
    color: white;
    font-size: 3.4em;
    line-height: 100%;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.investor-valuation {
    padding-left: 154px;
}

.investor-valuation-container h3 {
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
    margin-top: 20px;
    font-size: 1.2em;
    line-height: 120%;
    color: white;
}

.investor-valuation-container .slider-button {
    background: #5B5A59;

    -webkit-transition: 0.25s background-color;
    -moz-transition: 0.25s background-color;
    -o-transition: 0.25s background-color;
    transition: 0.25s background-color;
}

.investor-valuation-container .slider-button:active {
    padding: 12px 30px !important;
}

.investor-valuation-container .slider-button:hover {
    background: #494847;
}

.register-link {
    margin-top: 30px;
}

.recent-posts-right-column {
    padding: 20px;
}

.recent-posts-right-column-image img {
    width: 100%;
    height: auto;
}

.recent-posts-right-column-image {
    float: left;
    max-width: 50%;
}

.recent-posts-right-column-image {
    margin-right: 25px;
}

.recent-posts-right-column-content h3 {
    margin-top: 0;

}

.post_content_text {
    padding-left: 75px;
}

.separate_post_content_text {
    margin-top: 15px;
}

.separate_post_content_text > img {
    margin-right: 15px;
    margin-bottom: 15px;
    float: left;
}

.post_thumbnail a, .stock_thumbnail a {
    display: block;
    overflow: hidden;
    float: left;
}

.option-block {
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px #d5d5d5;
    border-radius: 3px;
    overflow: hidden;
}

.option-twelve-monthly .option-block {
    border: 1px solid rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 8px #8f8f8f;
}

.contact-details-tittle {
    background: #eee;
    padding: 10px 10px 10px 15px;
    font-size: 15px;
    text-transform: capitalize;
    min-width: 110px;
}

.profile-container {
    padding-bottom: 45px;
    padding-top: 30px;
}

.profile-text p {
    margin: 20px 0;
    text-align: justify;
}

.profile-form {
    padding-top: 20px;
}

.profile-form .form_group input {
    color: #73848e;
    border: 1px solid #e1e1e1;

    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
}

.profile-form .form_group input:focus {
    box-shadow: 0 0 1px rgba(115, 132, 142, 0.2);
    border: 1px solid #c5c5c5;
}

.profile-form .form_group select {
    color: #73848e;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    border: 1px solid #e1e1e1;
    padding: 11px 15px;

    appearance: none;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */

    -webkit-transition: background-color 0.3s;
    -moz-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.profile-form .form_group select::-ms-expand {
    display: none;
}

.profile-form-submit {
    background: #269BD6;
}

.profile-form-submit:hover {
    background: rgba(38, 155, 214, 0.75);
}

.profile-form .alert p {
    color: #73848e;
    text-align: center;
}

.profile-form .form_group label {
    line-height: 3.4em;
}

.profile-form-select {
    position: relative;
}

.profile-form-select select {
    position: relative;
    z-index: 1;
}

.profile-form-select select.arrow-up + i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
}

.profile-form-select i {
    color: #5B5A59;
    right: 20px;
    font-size: 14px;
    z-index: 0;
}

.profile-update-email-container {
    padding: 30px 0 45px 0;
}

.current-email-text {
    line-height: 100% !important;
}

.current-email-address {
    font-size: 1.1em;
}

.profile-update-email-container p, .profile-container p {
    padding-left: 20px;
}

.profile-update-email-container .profile-form {
    padding-bottom: 20px;
}

.profile-container .members_info_main_right_column_title, .profile-update-email-container .members_info_main_right_column_title {
    margin-bottom: 0;
}

.notes-page-container .recent_post_meta {
    width: auto;
}

.notes-page-container .post_image {
    /*    width: 100%;*/
    max-width: 35% !important;
}

.post_content > h3 {
    margin-top: 10px;
    padding-left: 230px;
    /*    line-height: 24px;*/
    font-size: 1.4em;
}

.stock-content {
    margin-left: 235px;
}

.stock-content h3, .stock-content h2 {
    line-height: 100%;
    font-size: 1.4em;
}

.stock-content h3 {
    margin-top: 10px;
    margin-bottom: 15px;
}

.post_content .post_content_text {
    margin-top: 10px;
}

.notes-page-container .post_thumbnail {
    width: auto;
}

.notes-page-container .post_content_text {
    padding-left: 0;
    text-align: justify;
}

.notes-page-container {
    padding: 45px 0;
}

.notes-page-container .blog_post {
    margin: 0;
}

.notes-page-direct-email {
    margin-top: 30px;
    margin-bottom: 20px;
}

.notes-page-container .recent_posts_title {
    color: #008fd5;
}

.notes-page-links {
    padding-left: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.notes-page-links-container {
    /*    margin-top: -14px;*/
}

.notes-page-links-container h3 {
    text-align: center;
    color: #1e73be;
    font-size: 1.5em !important;
    margin: 0;
    font-weight: 400;
    text-transform: uppercase;
}

.notes-page-links li {
    margin-top: 15px;
}

.notes-page-links li:first-child {
    margin-top: 0;
}

.notes-page-links li > a {
    margin-top: 5px;
    line-height: 1.4em;
    font-size: 1em;
    position: relative;
}

.notes-page-container .post_content > h3 {
    margin-top: 15px;
}

.notes-page-container .post_content > p {
    margin-top: 15px;
}

.notes-page-links li > a:before {
    content: '';
    display: inline-block;
    width: 11px;
    height: 11px;
    margin-right: 5px;
    background: url('../../img/read-more-arrow.png') no-repeat;
    position: relative;
    top: -1px;
}

.icon-up-bold {
    color: #00c400;
}

.project-info span {
    font-size: 1.7em;
    color: #8cd9ff;
}

.reports-archive-container {
    padding: 30px 0 45px 0;
}

.reports-archive-container-table td {
    text-align: left;
    padding-left: 25px;
}

.project-info {
    margin-top: 15px;
    text-align: center;
}

.notes-page-list-container {
    padding: 45px 0;
}

.blockquote-container {
    padding-top: 45px;
    padding-bottom: 45px;
    position: relative;
}

.container_freetrial a.button.biggest, .notes-page-direct-email-button a.button.biggest {
    font-size: 1.4em;
}

.what-sets-container-row {
    margin-top: 30px;
}

.notes-page-list-container .blog_post:first-child {
    margin-top: 0;
}

.highcharts-title {
    font-size: 1.4em !important;
}

.highcharts-legend-item text tspan {
    font-size: 0.9em !important;
}

.pre_header a.button, button {
    margin: 5px 0;
}

.become-member-container .products-container .products-column h3 {
    /*    border: none;*/
    font-size: 1.0em;
    border: none;
    padding: 0;
}

.become-member-container .products-container .products-column p {
    text-align: center;
}

.become-member-container {
    padding-bottom: 45px;
    padding-top: 45px;
}

.products-container .products-row {
    margin-top: 35px;
}

.products-container .products-row:first-child {
    margin-top: 0px;
}

.option-block a.button {
    border-radius: 0px;
    font-size: 1.5em;
    margin-top: 10px;
}

.what-sets-container a.button.biggest {
    font-size: 1.5em;
}

.tablesorter .icon-sort {
    font-size: 16px;
    color: #006fa5;
}

.tablesorter-headerAsc .tablesorter-header-inner .icon-sort:before {
    content: '\e81b';
}

.tablesorter-headerDesc .tablesorter-header-inner .icon-sort:before {
    content: '\e81a';
}

.reports-archive-container .reports-archive-table {
    width: 100%;
}

.reports-archive-container .reports-archive-table.member_home_table {
    table-layout: auto;
}

.reports-archive-container .reports-archive-table thead tr th {
    text-align: left;
    padding-left: 20px;
}

.reports-archive-container .reports-archive-table tbody tr td:first-child {
    border-right: 1px solid #dcdcdc;
}

.reports-archive-container .reports-archive-table tbody tr td {
    border-bottom: 1px solid #dcdcdc;
}

.research-container > .research-container-block {
    margin-top: 20px;
}

.research-container > table {
    width: 100%;
}

.stock-list-container {
    padding: 45px 0;
}

.stock-list-container .stock {
    margin-top: 35px;
}

.stock-list-container .stock:first-child {
    margin-top: 0px;
}

.stock-option-list > li {
    text-transform: capitalize;
}

.stock-list-container .stock-option-list li {
    display: inline-block;
    color: rgba(35, 50, 58, 1);
    font-weight: 700;
    padding: 0 10px;
    border-left: solid 1px rgba(35, 50, 58, 0.61);
    margin-bottom: 10px;
}

.stock-list-container .stock-option-list {
    margin-top: 25px;
}

.stock-list-container .stock-option-list li:first-child {
    margin-left: 0;
    border-left: none;
    padding-left: 0;
}

/*.post_content > h3{
    padding-left: 180px;
}*/

.stock-option-list li span {
    color: #23323a;
    font-size: 1.1em;
    color: black;
}

.container-motifs {
    padding: 45px 0;
}

.motifs-row *[class*=col-] {
    /*    padding: 30px 30px;*/
    /*    position: relative;*/
    /*    margin-top: 30px;*/
}

/*.motifs-row *[class*=col-]:before{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    content: '';

    -webkit-transform: scale(0.9);;
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);

    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
}*/

/*.motifs-row *[class*=col-]:before{
    -webkit-box-shadow: 0 10px 30px rgba(0,0,0,0.8);
    -moz-box-shadow: 0 10px 30px rgba(0,0,0,0.8);
    -ms-box-shadow: 0 10px 30px rgba(0,0,0,0.8);
    -o-box-shadow: 0 10px 30px rgba(0,0,0,0.8);
    box-shadow: 0 10px 30px rgba(0,0,0,0.8);

    opacity: 0;
}*/

/*.motifs-row *[class*=col-]:hover:before{
    opacity: 1;

    -webkit-scale(1);
    -moz-scale(1);
    -ms-scale(1);
    -o-scale(1);
    transform: scale(1);
}*/

.motifs-row *[class*=col-] figure {
    position: relative;
}

.motifs-row figure img {
    width: 100%;
    height: auto;
    position: relative;
    z-index: -2;
}

/*figure.effect-steve:before{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: white;
    content: '';

    -webkit-transition: opacity 0.35s;
    -moz-transition: opacity 0.35s;
    -ms-transition: opacity 0.35s;
    -o-transition: opacity 0.35s;
    transition: opacity 0.35s;
}*/

/*figure.effect-steve div:first-child{
    opacity: 1;

/!*    border-bottom: 8px solid #1e73be;*!/

    -webkit-transition: transform 0.35s;
    -moz-transition: transform 0.35s;
    -ms-transition: transform 0.35s;
    -o-transition: transform 0.35s;
    transition: transform 0.35s;


    -webkit-transform: perspective(10000px) translate3d(0,0,0);
    -moz-transform: perspective(10000px) translate3d(0,0,0);
    -ms-transform: perspective(10000px) translate3d(0,0,0);
    -o-transform: perspective(10000px) translate3d(0,0,0);
    transform: perspective(10000px) translate3d(0,0,0);
}*/

.motifs-column .description_main_image {
    border: 0;
    z-index: -1;
}

/*.motifs-row *[class*=col-]:hover figure div:first-child {
    -webkit-transform: perspective(10000px) translate3d(0,0,21px);
    -moz-transform: perspective(10000px) translate3d(0,0,21px);
    -ms-transform: perspective(10000px) translate3d(0,0,21px);
    -o-transform: perspective(10000px) translate3d(0,0,21px);
    transform: perspective(10000px) translate3d(0,0,21px);
}*/

.motifs-row *[class*=col-]:hover figure .motifs-figcaption {

    /*    -webkit-transform: scale3d(1.1,1.1,1.1);
        -moz-transform: scale3d(1.1,1.1,1.1);
        -ms-transform: scale3d(1.1,1.1,1.1);
        -o-transform: scale3d(1.1,1.1,1.1);
        transform: scale3d(1.1,1.1,1.1);*/
}

.motifs-row figure a > div {
    position: relative;
}

.motifs-row figure a > div:first-child:after {
    background: transparent;
    background: -webkit-linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 50%);
    background: -moz-linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 50%);
    background: -ms-linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 50%);
    background: -o-linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 50%);
    background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.1) 50%);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

}

.motifs-row figure .motifs-figcaption {
    position: absolute;
    left: 5%;
    bottom: 10%;
    display: block;

    -webkit-transition: transform 0.35s;
    -moz-transition: transform 0.35s;
    -ms-transition: transform 0.35s;
    -o-transition: transform 0.35s;
    transition: transform 0.35s;
}

.motifs-row figure .motifs-figcaption > * {
    color: white !important;
    text-transform: capitalize;
}

.motifs-row figure .motifs-figcaption > h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.motifs-row figure .motifs-figcaption > h4 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.motifs-row figure .motifs-figcaption > p {
    font-size: 1em;
}

.pre-header-separate-motifs {
    width: 100%;
    height: 200px;
    /*    background-image: url('../../img/trading.jpg');
        background-size: cover;
        background-repeat: no-repeat;*/
    overflow: hidden;
    position: relative;

}

.pre-header-separate-motifs {
    position: relative;
}

.pre-header-separate-motifs img {
    width: 100%;

    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    filter: blur(10px);
}

.pre-header-separate-motifs:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    content: '';

    -webkit-box-shadow: 0 0 15px 0px rgba(255, 255, 255, 1) inset;
    -moz-box-shadow: 0 0 15px 0px rgba(255, 255, 255, 1) inset;
    -ms-box-shadow: 0 0 15px 0px rgba(255, 255, 255, 1) inset;
    -o-box-shadow: 0 0 15px 0px rgba(255, 255, 255, 1) inset;
    box-shadow: 0 0 15px 0px rgba(255, 255, 255, 1) inset;

}

.separate-motifs-container {
    padding-top: 45px;
    padding-bottom: 45px;
    position: relative;
}

.separate-motifs-container .main-separate-motifs {
    position: relative;
    z-index: 200;
    margin-top: -130px;
}

.main-separate-motifs > .row > *[class*=col-] > img:first-child {
    width: 200px;
    height: 200px;
}

.separate-motifs-thumbnail {
    /*    height: 150px;
        width: 150px;
        float: right;

        background-image: url('../../img/trading.jpg');
        background-size: 100%;
        background-repeat: no-repeat;*/

    overflow: hidden;
    /*    max-width: 200px;*/
    border: 1px solid rgba(192, 192, 192, 0.76);
    display: inline-block;

}

.separate-motifs-thumbnail img {
    width: 100%;
    height: auto;
}

.separate-motifs-meta > * {
    color: white;
}

.separate-motifs-meta > h3 {
    font-size: 1.2em;
    text-transform: capitalize;
    margin-bottom: 15px;
}

.separate-motifs-meta > h2 {
    line-height: 100%;
    font-size: 2.3em;
    margin-bottom: 25px;
    text-transform: capitalize;
    position: relative;
}

.separate-motifs-meta > h2:after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -15px;
    width: 100%;
    height: 3px;

    background: linear-gradient(to right, whitesmoke 0%, rgba(245, 245, 245, 0) 50%);
}

.separate-motifs-meta > p {
    font-size: 1em;
}

.description_main_image h4 {
    color: #fff;
    font-size: 23px;
/*    font-size: 1.45em;*/
    line-height: 1.5;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
}

.motifs-column:hover .description_main_image {
    background-color: #2f424d;
}

.container-motifs .motifs-column figure {
    overflow: hidden;
}

.motifs-column figure > a {
    display: block;
}

.motifs-column .motifs-figcaption > p > span {
    color: #008fd5;
}

.container-motifs .motifs-column {
    margin-bottom: 20px;
}

.separate-motifs-container .separate-motifs-value {
    margin-top: 20px;
}

.separate-motifs-container .separate-motifs-value li {
    display: inline-block;
    margin-left: 35px;
}

.separate-motifs-container .separate-motifs-value li i {
    font-size: 2.2em;
}

.separate-motifs-container .separate-motifs-value li.separate-motifs-negative-value i {
    color: #c40e08;

    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.separate-motifs-container .separate-motifs-value li:first-child {
    margin-left: 0;
}

.separate-motifs-container .separate-motifs-value li > span {
    display: block;
    font-size: 1.7em;
    color: #00c400;
    margin-left: 3px;
}

.separate-motifs-container .separate-motifs-value li {
    vertical-align: top;
}

.separate-motifs-container .separate-motifs-value .icon-up-bold:before {
    margin: 0;
}

.separate-motifs-container .separate-motifs-value li > small {
    font-size: 11px;
    margin-top: 5px;
    display: block;
    text-align: center;
    text-transform: uppercase;
    color: #97a4ad;
}

.separate-motifs-container .separate-motifs-value li.separate-motifs-negative-value > span {
    color: #c40e08;
}

.main-separate-motifs .recent_posts_title {
    margin-bottom: 10px;
}

.motifs-separate-chart {
    width: 100%;
    height: 500px;
}

.main-separate-motifs .motifs-table thead {
    text-transform: uppercase;
}

.main-separate-motifs .motifs-table {
    border: none;
}

.main-separate-motifs .motifs-table > thead td {
    border: 1px solid #aaa;
}

.motifs-table-container .motifs-table-separate {
    width: 100%;
    table-layout: fixed;
}

.main-separate-motifs .motifs-table-separate > tbody > tr > td[colspan="4"] {
    padding: 0;
}

.option-container {
    margin-top: 30px;
}

.option-container .option-block a form .button {
    border-radius: 0px;
    font-size: 1.5em;
    margin-top: 10px;
}

.option-container a form .button:hover {
    background-color: #0084bb;
}

.option-container a form .button {
    background-color: rgba(0, 143, 213, 0.73);
    color: #fff;
    font-size: 1em;
    padding: 10px 20px;
    display: inline-block;
    text-transform: uppercase;
    border: none !important;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.motifs-table > thead > tr > th {
    text-transform: capitalize;
    color: black;
    text-align: center;
    font-weight: 100;
    padding: 7px 5px;
}

.motifs-table-separate > thead > tr > th {
    text-transform: capitalize;
    color: black;
    text-align: center;
    font-weight: 100;
    padding: 7px 5px;
    font-size: 1.15em;
}

.motifs-table-separate > thead > tr > th:last-child {
    color: #00c400;
}

.motifs-table > thead > tr > td {
    font-size: 1.2em;
}

.motifs-table td {
    text-align: center;
    padding: 7px 5px;
    color: black;
}

.motifs-table {
    table-layout: fixed;
    width: 100%;
    text-align: center;
}

.motifs-table-separate tr td {
    background: white;
    border-left: 1px solid #aaa;
    border-top: 1px solid #aaa;
}

.motifs-table-separate tr td:first-child {
    border-left: none;
}

.motifs-table tr > td[colspan="4"] {
    padding: 0;
    border: 1px solid #aaa;
}

.motifs-table-separate {
    background: linear-gradient(to bottom, white, #eee);
}

.motifs-table tr > td[colspan="4"] > .motifs-table-separate {
    cursor: pointer;
}

.motifs-table tr:nth-child(1) .motifs-table-separate thead {
    border-left: 5px solid #51a3ff;
}

.motifs-table tr:nth-child(2) .motifs-table-separate thead {
    border-left: 5px solid #ff642f;
}

.motifs-table tr:nth-child(3) .motifs-table-separate thead {
    border-left: 5px solid #06ff08;
}

.motifs-table tr .motifs-table-separate.accordion-table tr:hover td {
    background-color: rgba(0, 155, 221, 0.17);
}

.accordion-table tr td:last-child {
    color: #00c400;
}

.accordion-table tr td:last-child:before, .motifs-table-separate thead > tr > th:last-child:before, .separate-motifs-meta .separate-motifs-value li > span:before {
    color: #00c400;
    font-family: "fontello";
    content: '\e816';
    font-size: 1.5em;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    /*    margin-left: .2em;*/
}

.table-negative-value {
    color: #c40e08 !important;
}

.table-negative-value:before {
    color: #c40e08 !important;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.container-portfolio .toogle_container {
    display: none;
}

.note-free-trial-container > a {
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 2em;
}

.note-free-trial-container > div {
    font-size: 1.4em;
}

.pagination {
    display: block;
    text-align: center;
}

.research-reports-container .pagination {
    text-align: left;
    padding-left: 20px;
}

.pagination li {
    display: inline-block;
    padding: 0 5px;
}

.pagination li.active {
    background: rgba(115, 132, 142, 0.1);
}

.notes-page-container .recent_post_meta .post_date {
    max-width: 100% !important;
}

/*.stock-list-container .stock_thumbnail{
    margin-bottom: 10px;
}*/

.char-negative {
    display: none;
}

.alert-server {
    text-align: center;
    color: #008fd5;
    font-size: 1.1em;
    margin-bottom: 25px;
    background: rgba(56, 170, 218, 0.1);
    padding: 20px;
    border: 1px solid rgba(56, 170, 218, 0.2);
    border-radius: 5px;
    box-shadow: 0 0 2px #eee;
}

.container_form_register_login .alert-server, .container_form_login .alert-server {
    background: rgba(255, 255, 255, 0.15);
    color: white;
}

.alert-server .form-login-info {
    margin-top: 15px;
}

.alert-server ul {
    margin-top: 15px;
}

.container_form_register_login .alert-server .form-login-info a {
    text-shadow: 0 0 5px rgba(255, 255, 255, 1);
}

.container_form_register_login .alert-server .form-login-info a:after {
    box-shadow: 0 0 5px #eee;
}

.table-responsive {
    border: none !important;
    overflow: hidden;
    position: relative;
}

.portfolio-thematics > .portfolio {
    padding: 0;
}

.container-portfolio-thematics {
    padding: 30px 0 45px;
}

.mobile-button-auth {
    display: none;
}

.notes-page-container .modal-content {
    margin-top: 25px;
}

.notes-page-container .modal-content h3 {
    padding-left: 0;
    padding-right: 0;
}

.recent_posts_separate {
    display: inline-block;
    width: 49.5%;
    vertical-align: top;
    padding-left: 15px;
    padding-right: 15px;
}

/*

.slider-button{
    width: auto !important;
    height: auto !important;
}
*/

.portfolio-center-column-container .table-responsive:first-child {
    margin-top: 20px;
}

.portfolio-center-column-container .table-responsive:first-child table {
    margin-top: 0;
}

.portfolio-center-column-container .table-responsive:first-child {
    position: relative;
}

.portfolio-center-column-container .layout-table {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0;
    height: 0;
    background: rgba(0, 0, 0, 0.85);
    transition: all 0.3s ease-in-out;
}

.layout-table h2 {
    position: absolute;
    text-align: center;
    top: 50%;
    padding: 0 20px;
    width: 100%;
    color: white;
    font-size: 30px;
    line-height: 1.3;
    z-index: 10000;
    margin-top: -39px;
    opacity: 0;
}

form#verify-phone .button-form {
    margin: 0 5px;
    margin-bottom: 5px;
    padding: 12px 25px;
}

input[disabled="disabled"] {
    background-color: #eeeeee !important;
    opacity: 1;
    color: #828282 !important;
    border: 1px solid #d2d2d2;
    cursor: no-drop;
}

input[disabled="disabled"]:hover, input[disabled="disabled"]:focus, input[disabled="disabled"]:active {
    background-color: #eeeeee !important;
    color: #828282 !important;
    border: 1px solid #d2d2d2;
    cursor: no-drop;
}

.verify-modal h3 small {
    color: white;
    font-size: 0.75em;
    font-weight: normal;
}

.verify-modal h3 small a {
    color: white;
    transition: all 0.15s ease-in-out;
    position: relative;
    font-weight: 700;
}

.verify-modal h3 small a:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 0;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid rgba(245, 245, 245, 0.85);
    -webkit-transform: translateY(7px);
    transform: translateY(7px);
    -webkit-transition: all .15s;
    transition: all .15s;
}

.verify-modal h3 small a:hover:before {
    opacity: 1;

    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -o-transform: translateY(3px);
    transform: translateY(3px);
}

.payment-plans-container .option-trial {
    margin-bottom: 30px;
}













