.footer{
    display: block;
}

.upper-footer{
    background-color: #098ed1;
}

.container-twetter{
    float: left;
    padding: 25px;
    background-color: #1f9cda;
    position: relative;
}

.container-twetter .icon-twitter{
    font-size: 70px;
    color: whitesmoke;
}

.container-twetter:before{
    content: '';
    display: block;
    position: absolute;
    right: -25px;
    top: 25px;
    width: 10px;
    height: 10px;

    border-left: 25px solid #1f9cda;;
    border-top: 0px solid transparent;
    border-bottom: 25px solid transparent;
}

.main-footer{
    background: #19242a;
    color: #7ca1b3;
    padding: 30px 0;
}

.main-footer p{
    margin: 10px 0;
    font-size: 0.9em;
}

.main-footer h4{
    margin-bottom: 30px;
    color: #7ca1b3;
    font-size: 1.3em;
    line-height: 28px;
}


.widget-text-one > img{
    max-width: 245px;
}

.widget-text-one p{
    padding-left: 50px;
}

.main-footer .post-title{
    color: #bdd2dc;
    font-size: 13px;
    font-style: italic;
}

.main-footer .post-meta{
    display: block;
    text-transform: uppercase;
    text-align: left;
    font-size: 10px;
}

.footer_social_media i{
    font-size: 1.3em;
    color: #93a6b0;
}

.footer_social_media a{
    display: inline-block;
}

.widget-text-four li{
    font-size: 0.9em;
    text-align: left;
    position: relative;
    padding-left: 35px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
}

.widget-text-four li:first-child{
    margin-left: 0;
}


.widget-text-four i{
    position: absolute;
    top: 0;
    left: 0;
}

.widget-text-four a:hover{
    color: whitesmoke;
}

.widget-text-four p{
    margin-top: -3px;
}

.widget-text-four .icon-mobile{
    top: 3px;
}

.widget-text-four .icon-mail-1{
    top: 2px;
}

.lower-footer{
    color: #547e93;
    background: #141d22;
    padding: 20px 0px;
}

.lower-footer > .section{
    padding-right: 85px;
    text-align: justify;
}

.lower-footer p{
    font-size: 0.9em;
}

.footer-email{
    display: block;
}



